@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import url("https://fonts.cdnfonts.com/css/junicode");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

:root {
    --white: #f9f9f9;
    --fe-white: #fefefe;
    --black: #090909;
    --abs-black: #010101;
    --light-black: #202124;
    --yellow: #ffb22c;
    --gray: #2e3042;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    background-color: var(--black);
}

/* Navbar CSS */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    background: rgba(0, 0, 0, 0.5); /* transparent black glass effect */
    color: var(--white);
    z-index: 999;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-variation-settings: "width" 100;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0;
}

nav li a {
    display: block;
    padding: 16px 32px;
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    transition: background 0.3s;
}

nav li a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0px;
}

/* Hero Section CSS */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--abs-black);
    z-index: 0;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: var(--white);
    top: 30vh;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center; /* vertical centering */
    flex-direction: column; /* stack children vertically */
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.home {
    position: relative;
    z-index: 1;
    color: var(--white);
    text-align: center;
    pointer-events: none;
}

.home h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 4.5rem;
    margin-top: 0em;
    margin-bottom: 0.2em;
}

.home p {
    margin-top: 0em;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 1.3rem;
}

.about {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center; /* vertical centering */
    flex-direction: column; /* stack children vertically */
    z-index: 1; /* Keep if you want it above particles, though not strictly necessary outside hero */
    color: var(--white);
    text-align: center;
}

.about h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 2.7rem;
    margin-top: 0em;
    margin-bottom: 0.3em;
}

.about p {
    margin-top: 0em;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.1rem;
    max-width: 900px; /* limit width for better readability */
    margin-left: auto; /* Center align */
    margin-right: auto; /* Center align */
}

.about a {
    color: var(--yellow);
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make link bold */
}

/* Projects Section CSS */
.projects {
    position: relative;
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center; /* vertical centering */
    flex-direction: column; /* stack children vertically */
    z-index: 1; /* Keep if you want it above particles, though not strictly necessary outside hero */
    color: var(--white);
    text-align: center;
}

.projects h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 2.7rem;
    margin-top: 0em;
    margin-bottom: 0.3em;
}

/* Cards Section CSS */
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1em;
}

.card {
    width: 350px;
    min-height: 380px;
    background-color: var(--light-black);
    opacity: 0.65;
    transition: opacity 0.3s ease, outline-color 0.3s ease;
    border-radius: 0em;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    outline: 2px solid var(--fe-white);
    outline-offset: 8px;
    margin: 1.25em;
    margin-bottom: 1.25em;
}

.card:hover {
    outline-color: var(--yellow);
    opacity: 1;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px;
}

.card-content h3 {
    font-family: "Montserrat", sans-serif;
    color: var(--yellow);
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 0.5em;
}

.card-content p {
    font-family: "Fira Code", monospace;
    text-align: left;
    color: var(--white);
    font-size: 1em;
    line-height: 1.3;

    display: -webkit-box;
    -webkit-line-clamp: 4; /* Limit to x lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clickable-zone {
    text-decoration: none;
    display: block; /* ensures the <a> fills the card */
}

.clickable-zone h3,
.clickable-zone p {
    text-decoration: none;
}

.contact {
    margin-top: 0em;
    color: var(--white);
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    text-decoration: none;
}

#social-wrap {
    font-size: 30px;
}

#social-wrap h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 2.7rem;
    margin-top: 0em;
    margin-bottom: 0.5em;
}

#social-wrap .social {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

#social-wrap li {
    list-style: none;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--fe-white);
    opacity: 0.65;
    cursor: pointer;
    transition: opacity 0.3s ease, border-color 0.3s ease;
}

#social-wrap li:hover {
    color: var(--white);
    opacity: 1;
    border-color: var(--yellow);
}

#social-wrap li a {
    color: inherit;
    text-decoration: none;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    nav {
        background-color: yellow;
        max-width: 100vw;
        width: 100%;
        padding-inline: 0 0 10px 10px;
        overflow-x: hidden;
    }

    nav li {
        margin: 0;
    }

    nav li a {
        padding: 1rem 1rem;
        display: block;
        text-decoration: none;
        color: var(--white);
        font-weight: bold;
        background-color: aqua;
        transition: background 0.3s;
    }

    nav li a:hover {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 0px;
    }

    .hero {
        background-color: blue;
    }

    .home h1 {
        font-size: 2.5rem;
    }

    .home p {
        font-size: 0.9rem;
    }

    .about {
        background-color: indigo;
    }

    .about h1 {
        font-weight: 700;
        font-size: 2.5rem;
        margin-bottom: 0.3em;
    }

    .about p {
        margin-top: 0.2em;
        font-weight: 500;
        font-size: 1rem;
        max-width: 80vw; /* limit width for better readability */
        text-align: left;
    }

    .projects {
        background-color: cyan;
    }

    .projects h1 {
        font-weight: 700;
        font-size: 2.5rem;
        margin-bottom: 0em;
    }

    .card-container {
        margin-top: 0.8em;
    }

    .card {
        width: 75vw;
        min-height: 360px;
        opacity: 1;
        outline: 3.5px solid var(--fe-white);
    }

    .card-content h3 {
        font-size: 26px;
    }

    .card-content p {
        font-size: 1rem;
        line-height: 1.1;
        display: -webkit-box;
        -webkit-line-clamp: 5; /* Limit to x lines */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .contact {
        background-color: magenta;
    }

    #social-wrap li {
        border: 5px solid var(--fe-white);
        opacity: 1;
    }

    #social-wrap li {
        width: 20vw;
        height: 20vw;
    }
}
